
body {
  background-color: #ADD8E6;
}

.container{
    position:relative;
    left: 0;
    right: 0;
}


.container {
    margin: 28px;
}
.document {
    max-width: 650px;
    margin: 2em auto;
    font-family: "Times New Roman", Times, serif;
    font-size: 19px;
    line-height: 1.2;
}
.metadata {
    margin-bottom: 56px;
}

.wrapper {
  padding: 50px;
  width: 100%;
  height: 100%;
}

.intro {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 700px;
}

.header {
  font-family: Times;
  font-size: 37px;
  font-weight: bold;
  margin-bottom: 15px;
}

.text {
  font-family: Times;
  font-size: 24px;
  width: 80%;
}

.about {
  font-family: Times;
  font-size: 24px;
  margin-bottom:0px;
  width: 80%;
  display: inline-block;
}


.images {
  margin-bottom: 20px;
}

.poster  {
  display: inline-block;
}

.poster img {
  height: 700px;
  margin-bottom: 20px;
}

.links  {
}

.links a  {
  font-family: Times;
  font-size: 24px;
  text-decoration: none;
  color: #000000;
}
